

.container {
    max-width: 1280px;
    max-height: 450px;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Space Mono', monospace;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.col-12 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
    max-width: 100%;
}

.col-6 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
    max-width: 100%;
}

@media (min-width: 768px) {
    .col-6 {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 50%;
        max-width: 50%;
    }
}


.scarecrow {
    object-fit: cover;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text{
 font-size: 1.5em;
}

.header{
    font-family: 'Inconsolata', monospace;
    font-size: 1.5em;
    font-weight: 700;
}

.title{
    font-size: 4em;
    font-weight: 700;
}

.button-home {
    background-color: black;
    color: white;
    padding: 1.5rem;
    cursor: pointer;
    border: 0;
}

.button-home:hover {
    background-color: #FF6D5B;
    color: white;
    padding: 1.5rem;
    cursor: pointer;
    border: 0;
}